.disp{
    display: flex;
    background-color: antiquewhite;
    text-align: center;
}
.kayem{
    padding: 50px 40px;

}
.butt{
    background-color: red;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}
.sayem{
    background-color: black;
    text-align: center;
    padding: 40px 150px;
    margin-top: 20px;
}
.flo{
    color: aliceblue;
}
.sho{
    color: bisque;
}
.red{
    color: white;
}
.email{
    color: rgba(255, 255, 255, 0.719);
}
.law{
    display: flex;
    padding: 50px;
    text-align: center;
    background-color: white;
    margin: 10px;
}
.hope{
    padding: 6px 7px;
    background-color: orchid;
    color: aliceblue;
    border: 0px;
    border-radius: 5px;
}
.sabbir{
    background-color: white;
    margin: 10px;

}

.hasib{
    display: flex;
}
.sovon{
    text-align: center;
}
.arif{
    display: flex;
}
.adib{
    margin: 5px;
    background-color:white;
}
.adnan{
    text-align: center;
}
.asif{
    text-align: center;
}
.sana{
    display: flex;
    background-color: bisque;
    padding: 0px 20px 0px 10px;
}
.none{
    text-decoration: none;
    color: black;
}
.lili{
    text-align: center;
}
.komola{
    text-align: center;
    font-size: smaller;
    
}
.maty{
    padding: 100px;
    background-image: url('Rectangle\ 9.png');
    padding: 40px;
}
.meftaul{
    text-align: center;
}
.mati{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}